<!doctype html>
<html class="no-js" lang="zxx">

<% include includes/head.ejs %>

<body>

<% include includes/header.ejs %>

<div class="breadcrumb-area pt-95 pb-95 bg-img" style="background-image:url(/img/banner/banner-2.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2>Контакты</h2>
        </div>
    </div>
</div>
<div class="contact-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-info-wrapper text-center mb-30">
                    <div class="contact-info-icon">
                        <i class="ti-location-pin"></i>
                    </div>
                    <div class="contact-info-content">
                        <h4>Наши координаты:</h4>
                        <p>54.616690, 39.712677</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-info-wrapper text-center mb-30">
                    <div class="contact-info-icon">
                        <i class="ti-mobile"></i>
                    </div>
                    <div class="contact-info-content">
                        <h4>Телефон для связи</h4>
                        <p>+7(4912)92-04-93</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="contact-info-wrapper text-center mb-30">
                    <div class="contact-info-icon">
                        <i class="ti-email"></i>
                    </div>
                    <div class="contact-info-content">
                        <h4>Напишите нам</h4>
                        <p>zoopitomec@yandex.ru</p>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="row">
            <div class="col-12">
                <div class="contact-message-wrapper">
                    <h4 class="contact-title">GET IN TOUCH</h4>
                    <div class="contact-message">
                        <form id="contact-form" action="assets/mail.php" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input name="name" placeholder="Full Name" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input name="email" placeholder="Email Address" type="email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input name="subject" placeholder="Subject" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style">
                                        <textarea name="message" placeholder="Message"></textarea>
                                        <button class="submit btn-style" type="submit">SEND MESSAGE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="contact-map">
            <div id="map"><iframe src="https://yandex.ru/map-widget/v1/-/CGxbvTY3" width="1175" height="570" frameborder="1" allowfullscreen="true"></iframe></div>
        </div>
    </div>
</div>

<% include includes/footer.ejs %>

<!-- all js here -->
<% include includes/js_scripts_dowh.ejs %>

</body>
</html>